<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/about.css">
  <link rel="stylesheet" href="../static/home.css">
  
  <title>About Me</title>
</head>
<body>

  <nav>
    <ul>
      <li><a href="home.html">Home</a></li>
      <li><a href="about.html">About Me</a></li> 
      <li><a href="artwiki.html">Artwiki</a></li>
    </ul>
  </nav>
 <!-- Sunny Weather -->
 <div id="sunny-content" class="weather-content sunny">
  <div class="sun"></div>
</div>

<!-- Rainy Weather -->
<div id="rainy-content" class="weather-content rainy">
  <div class="rainy-cloud"></div>
</div>

<!-- Snowy Weather -->
<div id="snowy-content" class="weather-content snowy">
  <div class="snowy-cloud"></div>
</div>

<!-- Windy Weather -->
<div id="windy-content" class="weather-content windy">
  <div class="windy-cloud"></div>
</div>

  <footer class="footer">
    <p>&copy; 2023 Your Website. All rights reserved.</p>
  </footer>

</body>
</html>

