
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/artwiki.css">
  <link rel="stylesheet" href="../static/home.css">

  <title>Photo Gallery</title>
</head>
<body>
  <nav>
    <ul>
      <li><a href="index.html">Home</a></li>
      <li><a href="about.html">About Me</a></li>
      <li><a href="artwiki.html">Artwiki</a></li>
    </ul>
  </nav>

  <div class="artist-gallery" id="artist-gallery">
    <a href="odilonRedon.html">
      <img src="../static/odilonRedon_image.jpg" alt="Odilon Redon">
      <span>Odilon Redon</span>
    </a>
    <a href="klimt.html">
      <img src="../static/klimt.jpg" alt="Artwork 2">
      <span>Gustav Klimt</span>
    </a>
  </div>

  <footer class="footer">
    <p>&copy; 2023 Your Website. All rights reserved.</p>
  </footer>

</body>
</html>
