<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/artwiki.css">
  <link rel="stylesheet" href="../static/odilonRedon.css">
  <link rel="stylesheet" href="../static/home.css">

  <title>Artist 1 Gallery</title>
</head>
<body>
  <nav>
    <ul>
      <li><a href="index.html">Home</a></li>
      <li><a href="about.html">About Me</a></li>
      <li><a href="artwiki.html">Artwiki</a></li>
    </ul>
  </nav>
  <div class="artist-gallery" id="artist-gallery">

    <img src="../static/klimt1.jpg" alt="Artwork 1">
    <img src="../static/klimt2.jpg" alt="Artwork 2">

  </div>

  <footer class="footer">
    <p>&copy; 2023 Your Website. All rights reserved.</p>
  </footer>

</body>

</html>